<h1>Home</h1>

<ul>
  <li><%= link_to '12', lizards_path(12) %></li>
  <li><%= link_to '444', lizards_path(444) %></li>
  <li><%= link_to '9672', lizards_path(9672)%></li>
</ul>
<p>Duis condimentum ipsum vel congue imperdiet. Ut convallis euismod elit, sed dignissim
  dui ornare quis. Quisque faucibus facilisis ornare. Etiam magna dolor, interdum in turpis
   sit amet, ultrices tincidunt nunc. Praesent sit amet erat fermentum, ornare mi sed, dignissim
    augue. Suspendisse venenatis sit amet urna non ornare. Orci varius natoque penatibus et magnis
     dis parturient montes, nascetur ridiculus mus.
   </p>
